@font-face {
  font-family: 'RUSBoycott';
  src: url('../fonts/RUSBoycott.eot');
  src: url('../fonts/RUSBoycott.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RUSBoycott.woff') format('woff'),
  url('../fonts/RUSBoycott.ttf') format('truetype'),
  url('../fonts/RUSBoycott.svg#RUSBoycott') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Romul';
  src: url('../fonts/Romul.eot');
  src: url('../fonts/Romul.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Romul.woff') format('woff'),
  url('../fonts/Romul.ttf') format('truetype'),
  url('../fonts/Romul.svg#Romul') format('svg');
  font-weight: normal;
  font-style: normal;
}